@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
    
}

body{
    background-image: linear-gradient(to right,  #F2D6B3, #0D0D0D);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 8px 9px #0d0d0d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #594E45;
   text-align: center;
   text-shadow: 1px 3px 4px #F2EFC2;
}

h2{
   color: #F2D6B3;
}

p{
   text-align: justify;
}